@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-form {

    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 550px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;

}
.Login-form a {
    color: blue;
    text-decoration: none; 
    background-color: white;
}

h2 {
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.logo {
    position: absolute;
    left: 30px;
    height: 150px;
    width: 150px;
}

.hidden {
    display: none;
}
    li, a, button {
        font-weight: 500;
        font-size: 16px;
        color: white;
        text-decoration: none;
        background-color: black;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 3%;
        background-color: black;
        z-index: 1000; 
    }
    
    .logo {
        cursor: pointer;
    }
    
    .nav_links {
        list-style: none;
        background-color: black;
    }
    
    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    .nav_links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav_links li a:hover {
        color: red;
    }
    
    button {
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    button:hover {
        background-color: red; /* Change to red when hovering */
        color: white; /* Change text color to white when hovering */
    }